In [14]:
#downloading the possible nescessary packages
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium.webdriver.chrome.options import Options 
from time import sleep, ctime

In [71]:
import pandas as pd

In [15]:
url = 'https://datosclima.es/Aemet2013/Precipitastad2013.php'
path = 'C:\\Program Files (x86)\\chromedriver.exe'

In [20]:
opts = Options()
opts.headles = False
driver = webdriver.Chrome(path, options = opts)
driver.get(url)

In [22]:
prec = driver.find_element_by_xpath('/html/body/div[3]/div[3]/div[5]/a[3]')
prec.click()

In [24]:
prov = driver.find_element_by_xpath('//*[@id="col2"]/div[1]/div/form/select[1]')
prov.send_keys('Barcelona')
sleep(1)
est = driver.find_element_by_xpath('//*[@id="col2"]/div[1]/div/form/select[2]')
est.send_keys('Barcelona')
sleep(1)

data_i_d = driver.find_element_by_xpath('//*[@id="col2"]/div[1]/div/form/div/table/tbody/tr/td[2]/input[1]')
data_i_d.send_keys('01')
data_i_m = driver.find_element_by_xpath('//*[@id="col2"]/div[1]/div/form/div/table/tbody/tr/td[2]/input[2]')
data_i_m.send_keys('05')
data_i_a = driver.find_element_by_xpath('//*[@id="col2"]/div[1]/div/form/div/table/tbody/tr/td[2]/input[3]')
data_i_a.send_keys('2013')

data_f_d = driver.find_element_by_xpath('//*[@id="col2"]/div[1]/div/form/div/table/tbody/tr/td[5]/input[1]')
data_f_d.send_keys('29')
data_f_m = driver.find_element_by_xpath('//*[@id="col2"]/div[1]/div/form/div/table/tbody/tr/td[5]/input[2]')
data_f_m.send_keys('11')
data_f_a = driver.find_element_by_xpath('//*[@id="col2"]/div[1]/div/form/div/table/tbody/tr/td[5]/input[3]')
data_f_a.send_keys('2021')

find = driver.find_element_by_xpath('//*[@id="col2"]/div[1]/div/form/input[5]')
find.click()

In [25]:
source = driver.find_element_by_xpath('//*[@id="col2"]/div/div')
opts = source.get_attribute('innerHTML')
soup = BeautifulSoup(opts, 'html.parser')

In [27]:
list_data = []
for td in soup.find_all('td'):
    list_data.append(td.get_text())

In [30]:
import regex as re

In [50]:
clean = []
for i in list_data:
    if i.find('FECHA') == -1:
        clean.append(i)

In [58]:
clean_2 = []
for i in clean:
    if i.find('Precipitación: l/m2') == -1:
        clean_2.append(i)

In [64]:
clean_3 = clean_2[8:]

In [70]:
date = clean_3[::2]
rain = clean_3[1::2]

In [72]:
d = {'date': date, 'rain' : rain}

In [76]:
df = pd.DataFrame(d)

In [77]:
df

            date rain
0     07-05-2013    0
1     08-05-2013    0
2     09-05-2013    0
3     10-05-2013  0.7
4     11-05-2013  0.3
...          ...  ...
3055  27-10-2021    0
3056  28-10-2021    0
3057  29-10-2021  6.6
3058  30-10-2021   13
3059  31-10-2021  0.2

[3060 rows x 2 columns]

In [78]:
df.to_csv('daily_9y.csv')